// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');
// Variables
@import 'variables';
// Bootstrap
@import '~bootstrap/scss/bootstrap';
@import "loading";

.functionPanel {
    height: 5vh;
    width: auto;
}

.flash-message {
    text-align: center;
    z-index: 999;
    width: 60vw;
    height: 5vh;
    margin-left:20vw;
    position: relative;
}
